<head>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <title-bar></title-bar>
        <div class="content">
            <p>{{ message }}</p>
            <input v-model="message"></input>
            <ol>
                <template v-for="item in cardList">
                    <card-item v-bind:card="item" v-bind:class="{ active: item.isActive }"></card-item>
                    <input v-model="item.text"></input>
                </template>
            </ol>
        </div>
        <app-footer></app-footer>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/async.js"></script>
</body>